
.container{
    /* display: flex; */
   font-family: 'Times New Roman', Times, serif;
    margin-top: 0.5%;
    margin-bottom: 7%;
    margin-right: 7%;
    margin-left: 7%;
    padding: 0.5%;
}
.card:hover{
    -webkit-box-shadow: -1px 9px 50px -12px brown;
    -moz-box-shadow: -1px 9px 50px -12px brown;
    box-shadow: -1px 9px 50px -12px brown;
}

#fend-1 {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    color: rgb(220, 20, 177);
  }

  #fend-2 {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    color: deeppink
  }
@media screen and (min-width:300px) and (max-width:413px){
    html , body {
        margin: 5%;
        padding: 2px;
    }

    h1 {
        font-size: 1.5rem;
    }

   h3{
       font-size: 0.8rem;
   }
}

@media screen and (min-width:414px){
    html , body {
        margin: 5%;
        padding: 2px;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width:900px){
   h1 {
    font-size: 10rem;
   }    
}
